<h2>Create Stock Form</h2>

<div class="form-group">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">

        <div class="stock-name">
            <input type="text" placeholder="Stock Name" name="stockName" formControlName="name">
            @if (stockForm.get('name')?.invalid &&
                (stockForm.get('name')?.dirty ||
                stockForm.get('name')?.touched)) {
                <div>Name is required</div>
            }
        </div>

        <div class="stock-code">
            <input type="text" placeholder="Stock Code" formControlName="code">
            @if (stockForm.get('code')?.invalid && 
                (stockForm.get('code')?.dirty || stockForm.get('code')?.touched)) {
                @if (stockForm.get('code')?.errors?.['required']) {
                    <div>Stock Code is required</div>
                }
                @if (stockForm.get('code')?.errors?.['minlength']) {
                    <div>Stock Code must be atleast 2 characters</div>
                }
              }
        </div>

        <div class="stock-price">
            <input type="number" placeholder="Stock Price" formControlName="price">
            @if (stockForm.get('price')?.invalid &&
                (stockForm.get('price')?.dirty ||
                stockForm.get('price')?.touched)) {
                    @if (stockForm.get('price')?.errors?.['required']) {
                        <div>Stock Price is required</div>
                    }
                    @if (stockForm.get('price')?.errors?.['min']) {
                        <div>Stock price must be positive</div>
                    }
                }
        </div>

        <button type="submit">Submit</button>

        <button type="button" (click)="resetForm()">
            Reset
        </button>

        <button type="button" (click)="setStockFrom()">
            Set Stock Form
        </button>

        <button type="button" (click)="patchStockForm()">
            Patch Stock Form
        </button>
        
    </form>
</div>

<p>Form Control value: {{ stockForm.value | json }}</p>
<p>Form Control status: {{ stockForm.status }}</p>