@if (message) {
  <h3>{{message}}</h3>
}

<div class="form-group">
  <form (ngSubmit)="login()">
    <div class="user-name">
      <input type="text"
             placeholder="Username"
             required
             name="username"
             #usernameField="ngModel"
             [(ngModel)]="username">
      @if (usernameField.errors?.['required']) {
        <div>Username is Mandatory</div>
      }
    </div>
    <div class="password">
      <input type="password"
             placeholder="Password"
             required
             name="password"
             #passwordField="ngModel"
             [(ngModel)]="password">
      @if (passwordField.errors?.['required']) {
        <div>Password is Mandatory</div>
      }
    </div>
    <button type="submit">Login</button>
  </form>

</div>