<!-- <div>
    <input name="searchBox" [(ngModel)]="searchString" placeholder="Search Here" (keyup)="search()">
</div> -->


<p>Signal implementation</p>
@for (stock of stocks(); track stock.code) {
    <app-stock-item [stock]="stock" (toggleFavorite)="onToggleFavorite($event)"></app-stock-item>
}

<div>
    <button type="button" (click)="fetchStocks()">
        Refetch Stocks
    </button>
    <button type="button" (click)="makeFailingCall()">
        Make Failing Call
    </button>
    <button type="button" (click)="setAuthToken()">
        Set Auth Token
    </button>
    <button type="button" (click)="resetAuthToken()">
        Reset Auth Token
    </button>
</div>

<p>Async pipe implementation</p>

@for (stock of stocks$ | async; track stock.code) {
    <app-stock-item [stock]="stock" (toggleFavorite)="onToggleFavorite($event)"></app-stock-item>
}

<p>ChangeDetectior implementation</p>

@for (stock of stocks3; track stock.code) {
    <app-stock-item [stock]="stock" (toggleFavorite)="onToggleFavorite($event)"></app-stock-item>
}
