<!-- uncomment to apply ngClass and ngStyle 
<div class="stock-container">
    <div class="name">
        <h3>{{stock.name}}</h3> - <h4>({{stock.code}})</h4>
    </div>
    <!- - <div class="price" [ngClass]="stockClasses">{{stock.price | currency}}</div> - ->
    <div class="price" [ngStyle]="stockStyles">{{stock.price | currency}}</div>
    @if (!stock.favorite) {
        <button (click)="toggleFavoriteFor($event)" [disabled]="stock.favorite">Add to Favorite</button>
    } @else {
        In favorites
    }
</div> -->

@for (stock of stocks; track stock.code; let i = $index) {
    <div class="stock-container">
        <div class="name">
            <h3>{{stock.name}}</h3> - <h4>({{stock.code}})</h4>
        </div>
        <div class="price" [class]="stock.isPositiveChange() ? 'positive' : 'negative'">{{stock.price | currency}}</div>
        @if (!stock.favorite) {
            <button (click)="toggleFavoriteFor($event, i)" [disabled]="stock.favorite">Add to Favorite</button>
        } @else {
            In favorites
        }
    </div>
}